.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
body {
    background-color: rgb(239 246 255);

}
.HomePage {
    text-align: center;
    padding: 0px;
}

.header {
    background-color: #007bff;
    color: white;
    padding: 15px 0;
}

.main-content {
    padding-top: 57px;
    padding-left: 295px;
    
}

    .main-content h2 {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .main-content p {
        font-size: 1.2rem;
        margin-bottom: 30px;
    }

.cta-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

    .cta-button:hover {
        background-color: #0056b3;
    }
